{% set bootstrap = salt['grains.filter_by']({

    'Ubuntu-12.04': {
       'upgrade_grub': True,
       'grub_install_device': '/dev/' + (salt['grains.get']('SSDs:0') or 'sda'),
       'kernel': {
         'meta_package': 'linux-image-generic-lts-trusty',
         'version': (salt['pkg.latest_version]('linux-image-generic-lts-trusty')) 
       }
    },

    'Ubuntu-14.04': {
       'upgrade_grub': True,
       'grub_install_device': '/dev/' + (salt['grains.get']('SSDs:0') or 'sda'),
       'kernel': {
         'meta_package': 'linux-image-generic',
         'version': (salt['pkg.latest_version]('linux-image-generic')) 
       }
    },

    'Unknown': {
       'upgrade_grub': False,
       'kernel': {
         'version': None
       }
    }

}, grain='osfinger', merge=salt['pillar.get']('bootstrap',{}), default='Unknown') %}

